body,
html {
    height: 100%;
    font-size: 16px;
    font-family: "Lato", sans-serif;
    font-weight: 400;
    line-height: 1.8em;
    color: #666;
    margin: 0;



}


/*styling for navigation bar.ul*/

#nav {
    overflow: hidden;
    background-color: #4C565E;
    position: fixed;
    /* Set the navbar to fixed position */
    right: 0;
    left: 0;
    z-index: 1;
    top: 0;
    /* Position the navbar at the top of the page */
    width: 100%;
    /* Full width */
    text-align: center;

}



ul {
    display: inline-block;
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #4C565E;


}

li {
    float: left;
}

li a {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

/* Change the link color to #111 (black) on hover */
li a:hover {
    background-color: pink;
    text-decoration-color: black;
}



/*styling for parallax effect*/

.pimg1,
.pimg2,
.pimg3 {
    position: relative;
    opacity: 0.70;
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;

    /*this is really what gives it a parallax effect, you will scroll if you want to turn it off*/
    background-attachment: fixed;


}

.pimg1 {
    background-image: url("image1.jpg");
    min-height: 100%;

}



.pimg2 {
    background-image: url("image2.jpg");
    min-height: 400px;
}



.pimg3 {
    background-image: url("image3.jpg");
    min-height: 400px;
}


.section {
    text-align: center;
    padding: 50px 80px;
}

.section-light {
    background-color: #f4f4f4;
    color: #666;
}

.section-dark {
    background-color: #282e34;
    color: #ddd;
}

.ptext {
    position: absolute;
    top: 50%;
    width: 100%;
    text-align: center;
    color: #000;
    font-size: 27px;
    letter-spacing: 8px;
    text-transform: uppercase;
}

.ptext .border {
    background-color: #111;
    color: #fff;
    padding: 20px;
}

.ptext .border.trans {
    background-color: transparent;
}


@media(max-width: 568px) {

    .pimg1,
    .pimg2,
    .pimg3 {
        background-attachment: scroll;
    }
}